<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>MiniTwit</h1>
    <div class=navigation>
        {% if g.user %}
            <a href="{{ url_for('timeline') }}">my timeline</a> |
            <a href="{{ url_for('public_timeline') }}">public timeline</a> |
            <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
        {% else %}
            <a href="{{ url_for('public_timeline') }}">public timeline</a> |
            <a href="{{ url_for('register') }}">sign up</a> |
            <a href="{{ url_for('login') }}">sign in</a> |
            <a href="{{ url_for('sessions') }}">calculator</a>
        {% endif %}

    </div>
    {% with flashes = get_flashed_messages() %}
        {% if flashes %}
            <ul class=flashes>
                {% for message in flashes %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


        <div class=navigation>
            <tr>
                <th><strong>과목명</strong></th>
                <th><strong>담당교원</strong></th>
                <th><strong><u>메모장</u></strong></th>
            </tr>
            <tr>
                <th>머신러닝</th>
                <td>이종태 교수님</td>
                <td><a href="{{ url_for('memo') }}">이동 </a></td>
            </tr>
            <tr>
                <th>정보시스템 통합 및 실습</th>
                <td>간자르 교수님</td>
                <td><a href="{{ url_for('memo') }}">이동 </a></td>
            </tr>
            <tr>
                <th> 산업AI </th>
                <td> 우딘 교수님 </td>
                <td><a href="{{ url_for('memo') }}">이동 </a></td>
            </tr>
            <tr>
                <th> <strong>기능</strong> </th>
            </tr>
            <tr>
                <th> 계산기 </th> |
                <th> <a href="{{ url_for('sessions') }}">이동 </a> </th>
            </tr>
        </div>

    <div class=body>
        {% block body %}{% endblock %}
    </div>

    <div class=footer>
        MiniTwit &mdash; A Flask Application
    </div>
</div>
